.editable-field:focus {
  border: 1;
  box-shadow: 1;
}

.editable-field {
  font-size: inherit;
  font-weight: inherit;
  border: none;
  box-shadow: none;
  background-color: inherit;
  height: inherit;
}
